*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.container{
    width: 375px;
}
.top{
    display: flex;
}
.top h1{
flex: 2;
}
.top img{
    flex: 1;
    width: 0;
}
.bottom{
    display: flex;
}
.bottom h2{
    flex: 2;
}
.bottom img{
    flex: 1;
    width: 0;
}